@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <ul>
        <li>Genre: @Model.Genre.Name</li>
        <li>Release Date: @Model.Release.ToLongDateString()</li>
        <li>Date Added: @Model.Added.ToLongDateString()</li>
        <li>Number in Stock: @Model.Stock</li>
    </ul>
</div>

